body {
    height: 100vh;
    margin: 0; /* remove default margin */
}

* {
  box-sizing: border-box;
}

img {
  width: 30%;
  height: auto;
}

/* .images-parent {
    width: 30%;
    height: auto;
  }
  
  .project1 {
    background-image: url(_assets/duck_vox.png);
  }
  
  .project2 {
    background-image: url(_assets/food.png);
  }

  .project3 {
    background-image: url(_assets/kafka.png);
  }

  .project4 {
    background-image: url(_assets/onlineShopping_core.jpeg);
  }

  .project5 {
    background-image: url(_assets/duck_vox.png);
  }

  .project6 {
    background-image: url(_assets/food.png);
  }
   */
